.main {
    background-color: #bdbde0b9;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}

.nav {}

.nav__menu {
    margin: 25px;
    list-style: none;
    text-align: center;
}

.link {
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0 70px 0 70px;
}

.link a {
    text-decoration: none;
    color: black;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.link a:hover {
    background-color: #83839b5d;
    color: #000000b9;
}

.link a.active {
    color: #050505b9;
}

.setting {
    padding-top: 30px;
    border-bottom: 2px solid rgba(109, 82, 63, 0.521);
    padding-bottom: 40px;
}

.tittle {
    text-align: center;
    margin-top: 30px;
}

.users {
    display: flex;
    justify-content: center;
}